h1{
    text-align: center;
    color: #000000;
}
h2{
    text-align: center;
    color: #000000;
}

#container{
   height: 300px;
   width: 80%;
   background-color: #f0f0f0;
margin: 10px auto;
border: 2px solid #000000;
display: flex;


flex-wrap:wrap-reverse;
}

#container div{ 
      height: 20px;
      width: 300px;
      color: white;
      text-align: center;
      font-size: 30px;
}