h2{
    text-decoration: underline;
    color: blue;
    text-align: center;
}
h3{
    
    color: blue;
    text-align: center;
}
ol {
   
    text-align: left;
    list-style-position: inside;
    padding-left: 20px;

    
}

div{
    height: 100px;
    width: 100px;
    background-color: red;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
    border-radius: 10px;
}
#static{
    position: static;
    background-color: yellow;

    top: 100px;
    left: 100px;

}

#relative{
    position: relative;
    background-color: rgb(92, 85, 190);
    top: 50px;
    left: 50px;

}
#absolute{
    position: absolute;
    background-color: rgb(255, 0, 0);
    top: 1000px;
    left: 100px;
}
#fixed{
    position: fixed;
    background-color: rgb(0, 255, 0);
    top: 100px;
    left: 100px;
}